body{
margin:0;
padding:0;{
}
#menum ul{
list-style:none;
margin:0;
padding:0;{
}
#menum li{
float:left;
position:relative;
width:150px;{
}
#menum li ul{
display:none;
left:0;
position:absolute;
top:21px;{
}
#menum ul li a{
background:#666666;
border-color:#
border-style:solid;
border-width:1px;
color:#d2cff;
display:block;
font:bold 12px arial,helvetica,sans-serif;
margin:0;
padding:2px 3px;
text-decoration:none;
line-height:16px;{
}
#menum li a:hover{
background:#606F7F;
color:#4a5662;
}
#menum li:hover ul{
display:block;{
}


